/*FONTS
font-family: 'Quicksand', sans-serif;
*/

.bg {
	background-image: url(../img/background.svg);
}

.bg > form {
	margin-left: 10%;
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.container {
	margin-top: 20%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(255,255,255,0.95);
	height: 50%;
	border-radius: 8%;
}

.logo-section {
	display: flex;
	justify-content: center;
}

.name {
	margin-left: 3%;
	display: flex;
	align-items: center;
	font-family: 'Quicksand', sans-serif;
	color: green;
	font-size: 170%;

}

.info-section {
	text-align: center;
	margin-top: 3%;
	font-family: 'Quicksand', sans-serif;

}

.auth-section {
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

.login-area {
	margin-top: 3%;
	width: 70%;
	margin-left: 15%;
}

.pass {
	margin-top: 3%;
	width: 70%;
	margin-left: 15%;
}

input[type=checkbox] {
	opacity: 0;
	margin-top: 3%;
}

.enter-section {
	display: flex;
	justify-content: center;
}

input[type=submit] {
	width: 25%;
	background-color: green;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 130%;
}

.reg-section {
	margin-top: 3%;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.reg-section > a {
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	color: #000;
	border: 1px solid black;
	font-size: 110%;
	padding: 0 2% 0 2%;
}






